<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nju.urs.dao.mysql.mapper.AdmissionMapper">

    <select id="findBySchoolIdAndProvinceId" resultType="com.nju.urs.dao.mysql.model.po.Admission">
        select *
        from admissions
        where province_id=#{province} and school_id=#{schoolId}
    </select>

    <select id="findByProvinceId" resultType="com.nju.urs.dao.mysql.model.po.Admission">
        select admissions.*
        from admissions
        where province_id=#{province}
    </select>
</mapper>