<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nju.urs.dao.mysql.mapper.SchoolMajorMapper">

    <select id="findById" resultType="com.nju.urs.dao.mysql.model.po.SchoolMajor">
        select * from school_major where id=#{id}
    </select>
    <select id="findByKey"
            resultType="com.nju.urs.dao.mysql.model.po.SchoolMajor">
        select * from school_major
        where school_id=#{schoolId} and major_id=#{majorId} and province_id=#{provinceId} and subject=#{subject}
    </select>
</mapper>